@import url('https://fonts.googleapis.com/css2?family=M+PLUS+2&family=Roboto+Condensed:wght@700&family=Rubik+Beastly&display=swap');

*{
    margin: 0;
    padding: 0;
}
.container{
    display: flex;
}

.sidebar{
    position: absolute;
    background-color: rgb(182, 180, 180);
    /* width: 350px; */
    height: 100vh;
    font-family: 'M PLUS 2', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    font-family: 'Rubik Beastly', cursive;
    transition: transform 0.3s ease-in;
}

.sidebar nav{
    padding: 45px;
}

.sidebar nav li{
    list-style: none;
    font-size: 20px;
    padding: 33px 0;
}
.sidebar nav li a{
   text-decoration: none;
   color: black;
}

.main{
    /* background-color: yellow; */
    width: 82vw;
    padding: 23px;
}
.infocontainer{
    /* background-color: rgb(59, 32, 4); */
    width: 70vw;
    height: 58vh;
    margin: 144px auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
}
.devpic img{
    height: 58vh;
    /* margin-left: 65%; */
}
.devinfo{
    font-size: 16px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.hello{
    font-size: 3em;
}
.name{
    font-size:3em;
     /* font-family: 'M PLUS 2', sans-serif; */
    font-family: 'Roboto Condensed', sans-serif;
    /* font-family: 'Rubik Beastly', cursive; */
}
.moreabout{
    font-size: 25px;
    margin-top: 23px;
     font-family: 'Roboto Condensed', sans-serif;
}
.about{
    font-size: 2.5em;
}
.buttons{
    padding: 34px;
}
.buttons button{
     padding: 9px 14px;
     border-radius: 22px;
     color: wheat;
     background-color: dodgerblue;
     font-weight:bold;
     font-size: 15px;
     margin: 0 3px;
     cursor: pointer;
}
.buttons button:hover{
    background-color: white;
    color:dodgerblue;
}
.sidebarGo{
     
        transform: translate(-443px,0px);
        position: absolute;
    
}
.hamburger{
    position: absolute;
    cursor: pointer;
    top:10px;
    left:10px;
}
.ham{
    margin-top: 10px;
    margin-left: 10px;
}
.cross{
    margin-left: 120px;
    margin-top: 10px;
}

@media (max-width:1615px){
    /* *{
        background-color: rgb(245, 165, 165);
    }  */
    .devinfo{
        font-size: 10px;
    }
    .devpic{
        display: none;
    }
    .intro , .blogcontaniner,.contactform{
        margin: 50px 8px;
    }
     /* .sidebar{
        transform: translate(-443px,0px);
        position: absolute;
    }  */
}